[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/colors/start/molokai"]
	path = .vim/pack/colors/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/syntax/start/ale"]
	path = .vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
